/docker-compose.laravel.yaml
/docker-compose.yaml
/html
/laravel
/mysql
/nginx
/node
/node/node_modules
/docker/desafionode/desafionodeapp/node_modules/*
/docker/desafionode/desafionodedb/*
fullcycle.code-workspace
